{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}

<form method="post" class="accountform">
    <p>请输入您的电子邮件地址，我们会将重置密码的说明发送到该邮箱。</p>
    <br>
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email" class="control-label required-field">电子邮件地址：</label> {{ form.email }} <input class="btn-danger" type="submit" value="重置密码" /></p>
</form>
{% endblock %}