{% extends 'base.html' %}
{% block content %}


<div id="masthead" class="row">
    <h1>寻找对局</h1>
</div>
<hr>

{% if no_of_tables == 0 %}
<h3>当前无对局</h3>

<h5>叫上几个朋友创建一个对局！！</h5>
{% endif %}

{% for table in tables %}
<h5>{{ table.name }}
{% if table.is_active %}
 - Full
{% endif %}
</h5>
<p>Table Owner: {{ table.owner }}</p>
<p>Blinds: {{ table.blinds }}</p>

<form method="POST" action="{% url 'view_table' table.id %}">
    {% csrf_token %}
    <button type="submit" class="btn-sm btn-danger">View Table</button>
</form>

<hr>
{% endfor %}


{% endblock %}